/* Copyright 2023 Owen M. Jones. All rights reserved.

This file is part of BlogTheWorld.

BlogTheWorld is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License
as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

BlogTheWorld is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with BlogTheWorld. If not, see <https://www.gnu.org/licenses/>.
 */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.grecaptcha-badge {
	bottom: 30px !important;
	z-index: 9;
}

.dropdown-toggle::after {
  display: none !important;
}

.popover .popover-arrow {
	display: block;
	opacity: 0.75;
}

.popover[x-placement^=top]>.popover-arrow:after {
    border-top-color: #212529;
}

.popover[x-placement^=bottom]>.popover-arrow:after {
    border-bottom-color: #212529;
}

.popover[x-placement^=right]>.popover-arrow:after {
    border-right-color: #212529;
}

.popover[x-placement^=left]>.popover-arrow:after {
    border-left-color: #212529;
}